.container {
    background-color: #efeeee;
    padding: 30px;
    color: black;
}

.orders_container {
    background-color: #fff;
    padding: 20px;
}

.orders_container h2 {
    border-bottom: 2px solid d49644;
    /* var(--primary-shade); */
    padding: 20px;
    padding-top: 30px;
}

.orders_container p {
    padding: 30px;
}

.orders_container img {
    width: 100px !important;
}

.orders_container div {
    height: auto !important;
}