.footer {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
     line-height: 1.6em;
    font-weight: 500; 
    list-style: none;
  }
  .footer_backToTop {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    background-color: #374658;
    cursor: pointer;
  }
  .footer_backToTop:hover {
    background-color: #465461;
  }
  .footer_linkContainer {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #232f3e;
    min-height: 200px;
    justify-content: space-evenly;
  }
  .footer_links {
    text-align: left;
  }
  .footer_linksTitle {
    font-size: 16px;
    margin: 6px 0 14px;
    white-space: nowrap;
    font-weight: 700;
  }
  .footer_link {
    margin: 5px auto;
    color: #ddd;
    white-space: normal;
    
  }
  .footer_link ul  {
    list-style:none;
  }
  .footer_link a :hover {
    text-decoration: underline;
  }
  @media screen and (max-width:576px) {
    .footer_link {
        display: none;
        /* flex-direction: column; */
        height: auto;
    }
    .footer_linksTitle{
      display: none;
    
    }
  }
  