*{
    margin: 0; 
    padding: 0;
 
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background-color: #E3E6E6;
  }
  :root {
   
    --primary-color:#d49644;
    --primary-shade: #d49644;


  }
  